/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body,div,ol,ul,li,p,h1,h2,h3,h4,h5,h6{
	margin:0;
	padding:0;
	font-weight: normal;
}
ol,li,ul{
	list-style: none;
}
p{
	color:#8c9398;
}
a{
	text-decoration: none;
	display: inline-block;
	color:#8c9398;
}

label,span{
	display: inline-block;
}

/*@font-face{
	font-family:Ltb;
	src:url('../font/Lato-Bold.ttf');
}
@font-face{
	font-family:Osb;
	src:url('../font/OpenSans-Bold.ttf');
}
@font-face{
	font-family:Osl;
	src:url('../font/OpenSans-Light.ttf');
}
@font-face{
	font-family:Ossb;
	src:url('../font/OpenSans-Semibold.ttf');
}
@font-face{
	font-family:Osi;
	src:url('../font/OpenSans-Italic.ttf');
}*/


/*body{
	font-family: Osl;
	color:#353535;
}*/

html{
	font-size:16px;
}


.container{
	margin:0 auto;
}

.container::after{
	content:"";
	width:0;
	height:0;
	display: block;
	overflow: hidden;
	clear: both;
}


/* 媒体查询 设置内容居中 */

/* x >= 768px 小尺寸 */
@media screen and (min-width:768px){
	.container{
		width:720px;
	}
}


/* x >= 992px 中等尺寸*/
@media screen and (min-width:992px){
	.container{
		width:970px;
	}
}

/* x>= 1200  大尺寸*/
@media screen and (min-width:1200px){
	.container{
		width:1170px;
	}
}

